body {
  background: linear-gradient(360deg, #00cc99, #6600ff);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Nerko One", cursive;
}

img {
  width: 20%;
  border-radius: 3%;
  margin-right: 10%;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 200;
}
p {
  font-family: "Titillium Web", sans-serif;
}
/* .ContainerThird {
      flex: 2;
      width: 50%;
    } /
  
  .containerSecond {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
  }
  
  .progressBar {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    margin-left: 3.5%;
  }
  
  .perc {
    background-color: #00cc99;
    color: white;
    padding-left: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 80%;
  }
  
  / checkbox code: */
.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #6600ff;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #00cc99;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}
.bottom {
  display: flex;
  justify-content: space-evenly;
}

.available {
  color: white;
  margin-left: -3%;
}
