body {
  background: linear-gradient(360deg, #00cc99, #6600ff);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  /* font-family: "Nerko One", cursive; */
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 17rem;
  border-radius: 3%;
  margin-right: 10%;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
p {
  font-weight: 600;
  color: white;
}
.fontAndSize {
  font-weight: 600;
  color: white;
}

.notAllowed {
  pointer-events: none;
}
.containerSecond {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 50px;
  color: white;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
}

.available {
  color: white;
  margin-left: -3%;
}

/*Checkbox - available*/

.checkbox-styles .checkbox {
  display: none;
}
.checkbox-styles .checkbox,
.checkbox-styles .checkbox:after,
.checkbox-styles .checkbox:before,
.checkbox-styles .checkbox *,
.checkbox-styles .checkbox *:after,
.checkbox-styles .checkbox *:before,
.checkbox-styles .checkbox + .change {
  box-sizing: border-box;
}
.checkbox-styles .checkbox::-moz-selection,
.checkbox-styles .checkbox:after::-moz-selection,
.checkbox-styles .checkbox:before::-moz-selection,
.checkbox-styles .checkbox *::-moz-selection,
.checkbox-styles .checkbox *:after::-moz-selection,
.checkbox-styles .checkbox *:before::-moz-selection,
.checkbox-styles .checkbox + .change::-moz-selection,
.checkbox-styles .checkbox::selection,
.checkbox-styles .checkbox:after::selection,
.checkbox-styles .checkbox:before::selection,
.checkbox-styles .checkbox *::selection,
.checkbox-styles .checkbox *:after::selection,
.checkbox-styles .checkbox *:before::selection,
.checkbox-styles .checkbox + .change::selection {
  background: none;
}
.checkbox-styles .checkbox + .change {
  outline: 0;
  display: block;
  width: 10em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-styles .checkbox + .change:after,
.checkbox-styles .checkbox + .change:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-styles .checkbox + .change:after {
  left: 0;
}
.checkbox-styles .checkbox + .change:before {
  display: none;
}
.checkbox-styles .checkbox:checked + .change:after {
  left: 50%;
}

.checkbox-styles .checkbox-flip + .change {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.checkbox-styles .checkbox-flip + .change:after,
.checkbox-styles .checkbox-flip + .change:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.checkbox-styles .checkbox-flip + .change:after {
  content: attr(data-tg-on);
  background: #02c66f;
  transform: rotateY(-180deg);
}
.checkbox-styles .checkbox-flip + .change:before {
  background: #ff3a19;
  content: attr(data-tg-off);
}
.checkbox-styles .checkbox-flip + .change:active:before {
  transform: rotateY(-20deg);
}
.checkbox-styles .checkbox-flip:checked + .change:before {
  transform: rotateY(180deg);
}
.checkbox-styles .checkbox-flip:checked + .change:after {
  transform: rotateY(0);
  left: 0;
  background: #7fc6a6;
}
.checkbox-styles .checkbox-flip:checked + .change:active:after {
  transform: rotateY(20deg);
}

/*Input box - pages read, total pages*/

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em;
}

.fontAndSize {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

input[type="number"] {
  padding: 0.5em;
  font-size: 1em;
  width: 10em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid gray;
}

@media only screen and (max-width: 1000px) {
  .containerSecond-transformed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3em;
  }
  img {
    margin-right: 0%;
  }
  .description-transformed {
    margin: 0.3em 2em;
  }
}
