.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  border-radius: 3%;
  width: 15rem;
  height: auto;
  margin: 4em;
  transition: transform 0.9s;
  aspect-ratio: 2/3;
}
.img:hover {
  transform: scale(1.1);
}

/*Button styles*/

.fontAndSize-back {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  width: 6rem;
  border: 2px solid #a7233a;
  border-radius: 0.6em;
  color: #a7233a;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin: 0.6em 0.5em;
  padding: 0.5em 1.6em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
.fontAndSize-back {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.fontAndSize-back:hover {
  box-shadow: 0 0 40px 40px #a7233a inset;
  color: white;
}

/*Responsive settings for the img:*/

@media only screen and (max-width: 735px) {
  .img {
    width: 11rem;
  }
}

@media only screen and (max-width: 607px) {
  .img {
    width: 15rem;
  }
}
