body {
  background: linear-gradient(180deg, #00cc99, #6600ff);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  border-radius: 3%;
  width: 15rem;
  height: auto;
  margin: 4em;
  transition: transform 0.9s;
  aspect-ratio: 2/3;
}
.img:hover {
  transform: scale(1.1);
}

.fontAndSize-back {
  font-family: "Titillium Web", sans-serif;
  padding: 0.2em 0.5em;
  width: 5rem;
  background: linear-gradient(360deg, #00cc99, #6600ff);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 0.6em 0.6em;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.4s, padding 1s;
}
.fontAndSize-back:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 800px) {
  .fontAndSize-back {
    padding: 0.4em 1.5em;
    font-size: 1em;
  }
}
@media only screen and (max-width: 735px) {
  .img {
    width: 11rem;
  }
}

@media only screen and (max-width: 607px) {
  .img {
    width: 15rem;
  }
}
