body {
  background-image: url("./images-for-components/circle-scatter-haikei.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Titillium Web", sans-serif;
}

/*Styles for Home component:*/

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  border-radius: 3%;
  width: 15rem;
  height: auto;
  margin: 4em;
  transition: transform 0.9s;
  aspect-ratio: 2/3;
}
.img:hover {
  transform: scale(1.1);
}

/*Responsive settings for the img:*/

@media only screen and (max-width: 735px) {
  .img {
    width: 11rem;
  }
}

@media only screen and (max-width: 607px) {
  .img {
    width: 15rem;
  }
}
